{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
	{{ parent() }}
{% endblock %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% embed "layout/main.html" %}
		{% block main %}
			<h1><span class='fa fa-warning fa-1x'></span> Delete account</h1>
			<form id="form-deregister" method="POST">
				<div class="form-group row">
					<label for="username" class="col-sm-1 form-control-label">Username</label>
					<div class="col-sm-3">
						<input id="username" class="form-control" type="text" value="{{ username }}">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-1 form-control-label">Password</label>
					<div class="col-sm-3">
						<input id="password" class="form-control" type="password" name="password">
					</div>
				</div>
				<input class="btn btn-secondary" type="submit" value="Delete">
			</form>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<script
		src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
		crossorigin="anonymous"
	></script>
	<script>
		$(function(){
			$('#form-deregister').submit(function(){
				var username = $('#username').val();
				$(this).attr('action', '{{ route_pre.deregister }}' + username);
			});
		});
	</script>
{% endblock %}