{% extends "layout/base.html" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ resources.css.user }}">
	<link rel="stylesheet" type="text/css" href="{{ trumbowyg.css }}">
{% endblock %}

{% block content %}
	{% embed "layout/user.html" %}
		{% block main %}
			<form action="{{ user.route.note_save }}" method="post">
				<textarea id="trumbowyg" name="note"></textarea>
				<div id="form-button-section">
					<input class="btn btn-success" type="submit" value="Save note">
					<a class="btn btn-secondary" href="{{ user.route.home }}"><span class="fa fa-trash fa-1x"></span> Scrap note</a>
				</div>
			</form>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block body %}
	{{ parent() }}
	<script
		src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
		crossorigin="anonymous"
	></script>
	<script src="{{ trumbowyg.js }}"></script>
	<script>
		$.trumbowyg.svgPath = '{{ trumbowyg.svg }}';
		$('#trumbowyg').trumbowyg({
			resetCss: false,
			semantic: true,
			autogrow: true
		});
	</script>
{% endblock %}