{% extends "layout/base.html" %}

{% block content %}
	{% embed "layout/banner.html" %}
		{% block id %}generic-banner{% endblock %}
		{% block content %}
			<h1>Sign up</h1>
			<form id="form-register" method="POST">
				<div class="form-group row">
					<label for="username" class="col-sm-1 form-control-label">Username</label>
					<div class="col-sm-3">
						<input id="username" class="form-control" type="text" value="" placeholder="No whitespace allowed">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-1 form-control-label">Password</label>
					<div class="col-sm-3">
						<input id="password" class="form-control" type="password" name="password">
					</div>
				</div>
				<input class="btn btn-secondary" type="submit" value="Sign up">
			</form>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block body %}
	{{ parent() }}
	<script
		src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
		crossorigin="anonymous"
	></script>
	<script>
		$(function(){
			$('#form-register').submit(function(){
				var username = $('#username').val();
				$(this).attr('action', '{{ route_pre.register }}' + username);
			});
		});
	</script>
{% endblock %}