#generic-banner {
	background-image: url("../img/seamless_paper_texture.png");
}

#heading {
	font-size: 2rem;
	display: inline;
}

.link-unstyle:link, .link-unstyle:visited, .link-unstyle:hover, .link-unstyle:active {
	text-decoration: none;
	color: rgb(55,58,60);
}

#header > nav {
	position: relative;
}

#header-nav-button {
	position: absolute;
	top: 0;
	right: 0;
}

#header-nav {
	margin: 0;
	padding: 1rem 0 0 0;
}

#header-nav > li {
	display: inline-block;
}

#user-group {
	padding-top: 1rem;
}

@media (min-width: 992px) {
	#header-nav {
		padding-top: .5rem;
	}
	#header-nav > li {
		margin-left: 1rem;
	}
	#CollapsingNavbar {
		float: right;
	}
}

@media (max-width: 991px) {
	#header-nav > li {
		margin-right: 1rem;
	}

}

@media (max-width: 767px) {
	#header-nav > li {
		width: 100%;
		text-align: center;
		padding: .5rem 0 0 0;
	}
	.user-group-user {

	}
}

#heading, #user-heading {
	font-family: 'Permanent Marker', 'sans-serif';
}

.trumbowyg, .user-note {
	background-color: rgb(255,255,255);
}

.banner, #header, #footer, #form-wrapper {
		padding: 2rem 0;
}

li {
	list-style-type: none;
}

#user-header > h1 {
	display: inline;
}

#user-header > a {
	float: right;
}

