#user-write-note {
	margin: 0;
	padding: 0 0 1rem 0;
}

.user-note-note > img {
	max-width: 100%;
}

.user-note-note {
	padding: 1rem 1rem 0 1rem;
}
.user-note-footer {
	padding: 0 1rem 1rem 1rem;
}

.user-note-footer > button {
	float: right;
}

/* Write note */
#form-button-section {
	padding-top: 1rem;
}

#form-button-section > input {
	margin-right: 1rem;
}

@media (min-width: 768px) {
	.column-left {
		padding-right: .4rem;
	}
	.column-right {
		padding-left: .4rem;
	}
}