<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>{% block title %}{{ title }}{% endblock %}</title>
			<link rel="stylesheet" type="text/css" href="{{ resources.css.bootstrap }}">
			<link
				rel="stylesheet"
				type="text/css"
          		href="https://fonts.googleapis.com/css?family=Permanent+Marker">
          	<link rel="stylesheet" type="text/css" href="{{ resources.css.style }}">
			<script src="https://use.fontawesome.com/ca8c9f0754.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
		{% block body %}
			<div class="container">
				<header id="header" class="row">
					{% block header %}
						{% include "layout/header.html" %}
					{% endblock %}
				</header>
			</div>
			{% block content %}
			{% endblock %}
			<div class="container">
				<footer id="footer" class="row">
					{% block footer %}
						<p>&copy; 2016 by <a class="link-unstyle" href="https://github.com/nielsen-jonas">Jonas Nielsen <span class="fa fa-github fa-1x"></span></a></p>
					{% endblock %}
				</footer>
			</div>
		{% endblock %}
		</div>
		{% block scripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
			<script src="{{ resources.js.bootstrap }}" ></script>
			{% include "layout/nav_script.html" %}
		{% endblock %}
	</body>
</html>