<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<header>
			{% block header %}
				<h1>Header</h1>
				<nav>
					<h2>Navigation</h2>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</nav>
			{% endblock %}
		</header>
		<section><main>{% block content %}{% endblock %}</main></section>
		<footer>
			{% block footer %}
				&copy; 2016 by Jonas Nielsen
			{% endblock %}
		</footer>
	</body>
</html>